.column-three{
    height : 100%;
    width: 18%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



.watchlist-labels {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
}
.WL-label {
    width: 25%;
    border-bottom: slategray 1px solid;
}


/*  */


.watchlist-cell {
    display: grid;
    width: 100%;
    height: 60px;
    margin : 7px 0;
    padding-bottom: 10px;
    grid-template-columns: repeat(4,1fr);
    border-bottom: slategray 1px solid;
}
.watchlist-cell > div{
    overflow: hidden;
}
.watchlist-name{    
    grid-column: 1/2;
}
.watchlist-name > div{ 
    height: 40%;
}
.watchlist-price{    
    grid-column: 2/3;
}
.watchlist-change{    
    grid-column: 3/4;
}
.watchlist-percent-change{    
    grid-column: 4/5;
}