header {
    position: fixed;
    height: 40px;
    width: 100%;
    border : 1px solid black;
    display: flex;
    background-color: #879FBE;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}
header > * {
    display: inline-block;
    border: none;
    height: 100%;
}
.search-button {
    background-color: inherit;
    color : white;
    font-size: 1.4em;
}
.search-button:hover {
    cursor: pointer;
}

header > h1 {
    height: 100%;
    color : white;
}