header {
  position: fixed;
  height: 45px;
  width: 100%;
  display: flex;
  background-color: #879FBE;
  z-index: 10;
  justify-content: space-between;
}

header>* {
  border: none;
  height: 100%;
}


.business-button-link {
  grid-column: 4/5;
  font-size: 1.1em;

}


header>h1 {
  height: 100%;
  margin: 0;
  width: 200px;
  padding-left: 25px;
  color: white;
  color: rgb(54, 93, 138);
}

.home-link {
  text-decoration: none;
  color: white;
  height: 100%;
  font-size: 1.1em;
  grid-column: 5/6;
}


@media only screen and (max-width: 800px) {

  .business-button-link,
  .home-link {
    position: relative;
    right: 150px;
  }

  .home-link {
    position: relative;
    right: 50px;
  }
}

@media only screen and (max-width: 950px) {

  .business-button-link,
  .home-link {
    position: relative;
  }

  .business-button-link {
    right: 80px;
  }

  .home-link {
    position: relative;
    right: 15px;
  }
}