/* MAIN NEST */
.business-container {
  display: grid;
  width: 100%;
  grid-template-rows: 10% 1fr;
}






/* BUSINESS COLUMN NEST */
.business-column-nest {
  display : flex;
  height: 100%;
  grid-row: 2/3;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.business-column-nest > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 40px;
}@media only screen and (max-width: 800px) {
  .business-column-nest > div {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 900px) {
  .business-column-nest > div {
    width: 100%;
    height: auto;
  }
}