.news-column-two{
    border : 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.column-two-img {
    margin-top: 10px;
    width: 95%;
}
.col-two-img-div{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.on-img-label{
    position: absolute;
    background-color: #001a2c;
    color : white;
    padding : 10px;
    top: 83%;
    left: 2.4%;
    font-weight: bold;

}
.col-two-main-title{
    text-align: center;
    margin-top: -1px;
}